/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #73956F
$textColor = #454851
$borderColor = #73956F
$codeBgColor = #7BAE7F
$arrowBgColor = #73956F
$badgeTipColor = #73956F
$badgeWarningColor = darken(#73956F, 35%)
$badgeErrorColor = #73956F