/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #809848
$textColor = #2e0014
$borderColor = #442220
$codeBgColor = #b0ca87
$arrowBgColor = #b5dead
